.menu1{ 
  width: 130px;
  height: 160px;
  margin: 10px 0 0 0;
}
.menu1 ul{ 
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu1 ul li a{ 
  width: 125px;
  height: 24px;
  display: block; 
  background: #fcc;
  color: #930; 
  font: bold 12px Arial; 
  text-decoration: none; 
  padding: 8px 0 0 5px;
}
.menu1 ul li a:hover{
  color: #fff; 
  background: #930;
}


.menu2{ 
  width: 600px;
  height: 32px;
  margin: 30px 0 0 0;
}
.menu2 ul{ 
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu2 ul li{ 
  float: left; 
}
.menu2 ul li a{ 
  width: 120px;
  height: 24px;
  display: block; 
  background: #fcc;
  color: #930; 
  font: bold 12px Arial; 
  text-decoration: none; 
  text-align: center;
  padding: 8px 0 0 0;
}
.menu2 ul li a:hover{
  color: #fff; 
  background: #930;
}


.menu3{ 
  width: 510px;
  height: 32px;
  margin: 30px 0 0 0;
}
.menu3 ul{ 
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu3 ul li{ 
  float: left; 
}
.menu3 ul li a{ 
  display: block; 
  background: #fcc;
  color: #930; 
  font: bold 12px Arial; 
  text-decoration: none; 
  padding: 9px 25px;
}
.menu3 ul li a:hover{
  color: #fff; 
  background: #930;
}


.menu4{ 
  width: 152px;
  height: 170px;
  margin: 30px 0 0 0;
}
.menu4 ul{ 
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu4 ul li{ 
  position: relative;
}
.menu4 ul li a{ 
  width: 160px;
  display: block; 
  background: #fcc;
  color: #930; 
  font: bold 12px Arial; 
  text-decoration: none; 
  padding: 9px 5px;
  border: 1px solid #800;
}
.menu4 ul li a:hover{
  color: #fff; 
  background: #930;
}
.menu4 ul li ul{
  display: none; 
  position:absolute; 
  left: 172px; 
  top: 0 ;
}
.menu4 ul li:hover ul{
  display: block;
}

.menu5{ 
  width: 610px;
  height: 150px;
  margin: 50px 0 0 0;
}

.menu5 ul{ 
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu5 ul li{ 
  float: left; 
  position: relative;
}
.menu5 ul li a{ 
  width: 120px;
  display: block; 
  background: #fcc;
  color: #930; 
  font: bold 12px Arial; 
  text-decoration: none; 
  padding: 9px 0;
  border: 1px solid #800; 
  text-align: center;
}
.menu5 ul li a:hover{
  color: #fff; 
  background: #930;
}
.menu5 ul li ul{
  display: none; 
  position:absolute; 
  left: 0; 
  top: 34px;
}
.menu5 ul li:hover ul{
  display: block;
}


.menu6 { 
  width: 750px;
  height: 28px;
  margin: 30px 0 0 0; 
  border-bottom:1px solid #aaa;
}
.menu6 ul{ 
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu6 ul li{ 
  float: left; 
}
.menu6 ul li a{
  display: block; 
  width: 110px;
  height: 14px;
  text-decoration: none; 
  color: #000; 
  font: bold 12px Arial; 
  background: url(images/sekmelimenu.png); 
  padding: 7px 30px;
}
.menu6 ul li a:hover{
  color: #930; 
}


.menu7{ 
  width: 688px;
  height: 60px;
  margin: 30px 0 0 0;
}
.menu7 ul{ 
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.menu7 ul li{ 
  float: left; 
}
.menu7 ul li a{
  display: block; 
  width: 98px;
  height: 60px;
  background: url(images/anamenu.jpg) no-repeat; 
  text-indent: -2000px;
}
.menu7 #anasayfa { 
  background-position: 0 0;
}
.menu7 #hakkimizda { 
  background-position: -80px 0;
}
.menu7 #urunler { 
  background-position: -167px 0;
}
.menu7 #menuler { 
  background-position: -258px 0;
}
.menu7 #subelerimiz { 
  background-position: -337px 0;
}
.menu7 #insank { 
  background-position: -440px 0;
}
.menu7 #ulas { 
  background-position: -541px 0;
}
.menu7 #anasayfa:hover{ 
  background-position: 0 -66px;
}
.menu7 #hakkimizda:hover{ 
  background-position: -80px -66px;
}
.menu7 #urunler:hover{ 
  background-position: -167px -66px;
}
.menu7 #menuler:hover{ 
  background-position: -258px -66px;
}
.menu7 #subelerimiz:hover{ 
  background-position: -337px -66px;
}
.menu7 #insank:hover{ 
  background-position: -440px -66px;
}
.menu7 #ulas:hover{ 
  background-position: -541px -66px;
}